Source: ros-kilted-ur-simulation-gz
Section: misc
Priority: optional
Maintainer: Felix Exner <feex@universal-robots.com>
Build-Depends: debhelper (>= 9.0.0), liburdfdom-tools <!nocheck>, ros-kilted-ament-cmake, ros-kilted-ament-cmake-pytest <!nocheck>, ros-kilted-launch-testing-ament-cmake <!nocheck>, ros-kilted-launch-testing-ros <!nocheck>, ros-kilted-xacro <!nocheck>, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-ur-simulation-gz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-gz-ros2-control, ros-kilted-joint-state-publisher, ros-kilted-launch, ros-kilted-launch-ros, ros-kilted-ros-gz-bridge, ros-kilted-ros-gz-sim, ros-kilted-rviz2, ros-kilted-ur-controllers, ros-kilted-ur-description, ros-kilted-ur-moveit-config, ros-kilted-urdf, ros-kilted-xacro, ros-kilted-ros-workspace
Description: Example and configuration files for Gazebo simulation of UR manipulators.
